body{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    overflow-y: hidden;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-ctnr{
    width: 40%;
    height: auto;
    border: 1px solid;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input{
    margin: 10px 0;
    outline: none;
}

button{
    margin: 10px 0px;
    transition: ease 0.5s;
}

button:hover{
    transition: ease 0.5s;
    transform: scale(1.1);
}

.a-btn{
    text-decoration: none;
    color: black;
    border: 1px solid;
    padding: 5px 10px;
    margin: 5px auto;
    text-align: center;
    transition: ease 0.5s;
}

.a-btn:hover{
    transition: ease 0.5s;
    transform: scale(1.1);
}

.a-bottom{
    margin: 5px 0px;
    text-decoration: none;
    color: black;
    transition: ease 0.5s;
}

.a-bottom:hover{
    color: blue;
    transition: ease 0.5s;
}